.git
.github
.idea
.metadata
.vscode
.env
.env.*
!.env.example
target
src/main/frontend/node_modules
src/main/frontend/dist
src/main/frontend/.angular
src/main/frontend/node
node_modules
docs
*.log
*.zip
.tools
.local
src/main/frontend/test-results
src/main/frontend/playwright-report
.tmp
